body {
  box-shadow: 1px 0 2em grey;
  font-family: helvetica;
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
  outline: 1px solid #b8b8b8;
}
header, footer {
  background-color: #419e98;
  height: 50px;
}
header img {
  width: 100%;
}
footer {
  padding: 15px;
}
footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.event-section {
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 10px;
}
h1, h3, p {
  margin: 0;
}
.img-container {
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
}
.img-container div {
	height: 100%;
	position:relative;
}
.img-container img {
  height: 100%;
  max-height: 250px;
  width: 100%;
  vertical-align: middle;
}
.img-container.img-height {
  background-color: #fff;
	margin: 0 auto;
  vertical-align: middle;
}
.img-container.img-height div {
  height: calc(100% - 100px);
}
.img-container.img-height img {
	height: auto;
	position: absolute;
	top: 33%;
}
.img-container img.img-show {
	display:block;
}
.img-container img.img-hidden {
	display:none;
}
.text-small {
  font-size: 12px;
}
.text-grey {
  color: #b8b8b8;
  margin: 0;
}
.event-description {
  padding: 20px 50px 20px 20px !important;
}
.title-yellow {
  color: #419e98;
}
span.read-more.title-yellow {
  cursor: pointer;
}
span.read-more.title-yellow::after {
  content: "READ MORE";
}
span.read-more.title-yellow.read-open::after {
  content: "READ LESS";
}
.details {
  margin: 10px 0;
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;

}
.show {
  display: block !important;
  opacity: 1;
  padding: 10px 0;
  transition: visibility 1s, opacity 0.5s linear;
  visibility: visible;
}
span {
  color: #419e98;
}
.grid-row {
  box-sizing: content-box !important;
  display: flex;
  flex-wrap: wrap;
}
.col-10 {
  box-sizing: border-box;
  flex: 0 0 10%;
  max-width: 10%;
  min-height: 1px;
  order: 0;
  position: relative;
  width: 100%;
}
.col-30 {
  background-color: #419e98;
  box-sizing: border-box;
  flex:  0 0 30%;
  max-width: 30%;
  order: 0;
  position: relative;
  width: 100%;
}
.col-60 {
  box-sizing: border-box;
  flex-grow:  0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .col-10 {
    flex: 0;
    max-width: 0%;
    width: 0%;
  }
  .col-30 {
    flex:  0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .col-60 {
    flex-grow:  0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .img-container img {
    max-height: 300px;
  }
  footer {
    padding: 0;
  }
  .img-container.img-height img {
    position: initial;
  }
}
